/* Estiliza o corpo da página */
body {
    font-family:Georgia, 'Times New Roman', Times, serif; /* Define a fonte principal para Arial, com uma fonte de fallback em sans-serif caso Arial não esteja disponível. */
    text-align: center; /* Centraliza o texto no corpo da página. */
    background-color: red; /* Define a cor de fundo como um tom de cinza claro. */
}

/* Estiliza o contêiner do tabuleiro */
.board {
    display: grid; /* Usa um modelo de layout de grade. */
    grid-template-columns: repeat(3, 150px); /* Cria três colunas de 100px cada. */
    gap: 10px; /* Define um espaço de 10px entre as células da grade. */
    margin: 30px auto; /* Adiciona margem superior e inferior de 30px e centraliza o contêiner horizontalmente. */
    width: 470px; /* Define uma largura máxima de 320px para o tabuleiro. */
}

/* Estiliza as células do tabuleiro */
.cell {
    width: 150px; /* Define a largura da célula como 100px. */
    height: 150px; /* Define a altura da célula como 100px. */
    font-size: 24px; /* Define o tamanho da fonte como 24px. */
    text-align: center; /* Centraliza o texto dentro da célula. */
    line-height: 150px; /* Centraliza verticalmente o conteúdo da célula. */
    background-color: yellow; /* Define a cor de fundo da célula como um tom de cinza mais claro. */
    cursor: pointer; /* Mostra o cursor como uma mão quando passa por cima da célula. */
    border: 2px solid orange; /* Adiciona uma borda sólida de 2px à volta da célula. */
}

/* Estiliza as células quando o cursor passa por cima delas */
.cell:hover {
    background-color: pink; /* Altera a cor de fundo da célula para um tom de cinza mais escuro quando o cursor passa por cima. */
}

/* Estiliza a mensagem */
.message {
    font-size: 29px; /* Define o tamanho da fonte da mensagem como 24px. */
    margin-top: 20px; /* Adiciona uma margem superior de 20px para separar a mensagem do tabuleiro. */
}

.cell img {
    width: 100%; /* A largura da imagem ocupará 100% da largura da célula. */
    height: 100%; /* A altura da imagem ocupará 100% da altura da célula. */
  }